
@import './reset';
@import './PictureShow';
@import './SimpleSlideshow/SimpleSlideshow';
@import './ImageSlideshow/ImageSlideshow';
@import './Slide/Slide';

.main-well {
  width: 600px;
  margin: 40px auto;
}

.example {
  margin-bottom: 30px;
}
