
// Container

.picture-show {
  overflow: hidden;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;

  &.stretch {
    position: relative;
    width: 100%;
    height: auto;

    & > .ps-wrap {
      background: none;
      overflow: hidden;
      position: absolute;
      top: 0px;
      bottom: 0px;
      left: 0px;
      right: 0px;
      height: auto;
      width: auto;
    }
  }
}

.ps-wrap {
  position: relative;
  width: 100%;
  height: 0; 
}

.ps-slides {
  position: absolute;
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  -webkit-transition: all 400ms cubic-bezier(0.365, 0.45, 0.23, 0.95);
     -moz-transition: all 400ms cubic-bezier(0.365, 0.45, 0.23, 0.95);
          transition: all 400ms cubic-bezier(0.365, 0.45, 0.23, 0.95);
  -webkit-transition-timing-function: cubic-bezier(0.365, 0.45, 0.23, 0.95);
     -moz-transition-timing-function: cubic-bezier(0.365, 0.45, 0.23, 0.95);
          transition-timing-function: cubic-bezier(0.365, 0.45, 0.23, 0.95);
}

.ps-slides:hover {
  cursor: pointer;
}

.ps-slide-wrap {
  overflow: hidden;
  height: 100%;
  float: left;
  background-color: #FAFAFA;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
